* {
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none;
}

header {
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.45) ), url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 20px 40px 20px;
  }

main {
    padding: 5px 0px 20px 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 10px white;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 10vw; 
}

form {
    padding: 0px 45px 0 45px;
}
#tagLine {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 30px;
}

#tagline2 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}

#searchBar {
    position: relative;
}

#js-search-term {
    width: 100%;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 2px 5px;
    border-radius: 4px;   
    border: 2px solid rgba(128, 128, 128, 0.822);
    height: 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

#searchIcon {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 26px;
    width: 30px;
    z-index: 2;
    border: none;
    border-radius: 4px;
    color: rgba(128, 128, 128, 0.822);;
    background-color: white;
    cursor: pointer;
}

#searchIcon:focus {
    outline: 1px solid rgb(57, 83, 57);
}

#js-search-term:focus {
    outline: 1px solid rgb(57, 83, 57);
}

#criteriaLabel {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 10px;
    font-weight: normal;
}

fieldset {
    padding-top: 10px;
    border-radius: 3px;
    border: 1px solid rgba(202, 236, 202, 0.267);
    background-color: rgba(202, 236, 202, 0.267);
}

fieldset label {
    font-size: 14px;
}

select {
    display: block;
    margin: 5px 0 5px 0;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    padding: 2px 0 3px 5px;
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

.selection {
    position: relative;
}

.selection:after {

    content: '>';
    font-size: 20px;
    position: absolute;
    top: 24px;
    right: 9px;
    color: rgb(128, 128, 128);
    pointer-events: none;
    transform: rotate(90deg);
    font-weight: 800;
    
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: 1px solid rgb(57, 83, 57);
}

#search-button {
    background-color: rgb(81, 124, 81);
    border-radius: 2px;
    border: none;
    font-size: 20px;
    padding: 6px 15px;
    display: block;
    margin: 20px auto;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#search-button:hover #search-button:focus {
    background-color: rgb(57, 83, 57)
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
}

#results {
    padding: 0 15px;
}

#resultsList {
    list-style: none;
    padding: 0 10px;
}

li {
    margin-bottom: 30px;
    border: solid rgba(202, 236, 202, 0.267) 1px;
    border-radius: 3px;
    padding: 0 15px 20px 15px;
    background-color: rgba(202, 236, 202, 0.267);
}

#trailLink {
    color: black;
    text-decoration: none;
}

#trailLink:hover {
    color: rgb(81, 124, 81);
    font-weight: bolder;
}

#hikePic {
    width: 250px;
    max-height: 250px;
    overflow: hidden;
}

#hikePic img {
    width: 250px;
}

.fa-circle {
    color: green;
}

.fa-square {
    color: blue;
}

.fa-square-full {
    color: black;
    transform: rotate(45deg);
    margin-left: 4px;
    font-size: 15px;
}

#detailsButton, #directionsButton {
    background-color: rgb(81, 124, 81);
    border-radius: 2px;
    border: none;
    font-size: 16px;
    padding: 6px 10px;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    width: 160px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-align: center;
}

#detailsButton:hover, #directionsButton:hover, #detailsButton:focus, #directionsButton:focus {
    background-color: rgb(57, 83, 57)
}

 .buttonContainer a {
    text-decoration: none;
}

.error-message {
    color: red;
}

#attribution-section {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.attribution {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#hiking-project-attribution {
    height: 30px;
}

#google-attribution {
    width: 150px;
}

@media screen and (min-width: 550px) {
    #js-form {
        max-width: 533px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 730px) {
    #hikePic {
        float: right;
        margin-left: 20px;
        max-height: 150px;
    }
    li {
        padding-right: 50px;
    }
}

@media screen and (min-width: 731px) {
    #resultsList {
        display: grid;
        grid-template-columns: 48.5% 48.5%;
        grid-column-gap: 3%;
    }
    h1 {
        font-size: 5vw;
    }
    #tagLine {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1170px) {
    #hikePic {
        float: right;
        margin-left: 20px;
    }
    li {
        padding-right: 50px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1275px) {
    #hikePic {
        float: right;
        margin-left: 20px;
        width:300px;
    }
    li {
        padding-right: 60px;
    }
    
    #hikePic img {
        width: 300px;
    }
    h1 {
        font-size: 4vw;
    }
    #tagLine {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1340px) {
    #hikePic {
        margin-right: 50px;
        max-height: 200px;
    }
}