* {
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none;
}

header {
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.45) ), url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 20px 40px 20px;
  }

main {
    padding: 5px 0px 20px 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 10px white;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    padding: 0px 45px 0 45px;
}
#tagLine {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 30px;
}

#tagline2 {
    text-align: center;
    margin-bottom: 0px;
}

#js-search-term {
    width: 100%;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 2px 5px;
    border-radius: 2px;
    
}

h4 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 10px;
}

fieldset {
    padding-top: 10px;
}

fieldset label {
    font-size: 15px;
}

select {
    display: block;
    margin: 5px 0 5px 0;
    width: 100%;
    background-color: rgba(202, 236, 202, 0.349);
}

#search-button {
    background-color: rgb(76, 117, 76);
    border-radius: 2px;
    border: none;
    font-size: 20px;
    padding: 6px 15px;
    display: block;
    margin: 20px auto;
    color: white;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
}

#results {
    padding: 0 15px;
}

#resultsList {
    list-style: none;
    padding: 0 10px;
}

li {
    margin-bottom: 40px;
    border: solid darkgray 1px;
    border-radius: 2px;
    padding: 0 15px 20px 15px;
}

#hikePic{
    width: 250px;
    height: 150px;
    overflow: hidden;
}

#hikePic img {
    width: 250px;
}

.fa-circle {
    color: green;
}

.fa-square {
    color: blue;
}

.fa-square-full {
    color: black;
    transform: rotate(45deg);
    margin-left: 4px;
    font-size: 15px;
}

#detailsButton, #directionsButton {
    background-color: rgb(113, 160, 113);
    border-radius: 2px;
    border: none;
    font-size: 15px;
    padding: 6px 10px;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    width: 160px;
}

 .buttonContainer a {
    text-decoration: none;
}

.error-message {
    color: red;
}

#attribution-section {
    position: relative;
    height: 30px;
}

.attribution {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#google-attribution {
    position: absolute;
    left: 0;
    bottom: 4px;
}

#hiking-project-attribution {
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 600px) and (max-width: 730px) {
    #hikePic {
        float: right;
        margin-left: 20px;
    }
    li {
        padding-right: 50px;
    }
}

@media screen and (min-width: 731px) {
    #resultsList {
        display: grid;
        grid-template-columns: 47% 47%;
        grid-column-gap: 6%;
    }
}

@media screen and (min-width: 1170px) {
    #hikePic {
        float: right;
        margin-left: 20px;
    }
    li {
        padding-right: 50px;
    }

}

@media screen and (min-width: 1275px) {
    #hikePic {
        float: right;
        margin-left: 20px;
        width:300px;
    }
    li {
        padding-right: 60px;
    }
    
    #hikePic img {
        width: 300px;
    }

}




